@model Capstone3.Models.Apps
@{
    ViewData["Title"] = "Steam";

}


<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,
                 initial-scale=1, shrink-to-fit=no">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
    <br />

    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Steam Products</h1>
        
        @if (Model.Query == null) {
            @using (Html.BeginForm("Index", "Steam", FormMethod.Get))
            {
                <input type="text" name="query" />
                <input type="submit" value="Search">
            }
        }
        
        else{
         <div class="text-left">
        <h3>Resulst for @Model.Query</h3>
        <table id="mytableID" style="width:100%"
               class="table table-striped sampleTable">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.apps)
                {
                    @if (item.name != "")
                    {
                        <tr>
                            <td>
                                @item.name
                            </td>
                            <td>
                                @Html.ActionLink("View","Price","Steam",new{item.appid})
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
        </div>
        }
        </div>

    </div>
    <script  src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".sampleTable").fancyTable({
                /* Column number for initial sorting*/
                sortColumn: 0,
                /* Setting pagination or enabling */
                pagination: true,
                /* Rows per page kept for display */
                perPage: 25,
                globalSearch: true
            });

        });
    </script>
</body>

